body{
	margin:0px;
	margin-left: 50px;
	margin-right: 50px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size:xx-small;
}

.checkmark {
    height: 25px !important;
    width: 25px !important;
    background-color: #eee;
    border-radius: 50%;
}

.txt{
    font-size: small;
    display: flex;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
}
  
  /* Show the indicator (dot/circle) when checked */
input:checked ~ .checkmark:after {
    display: block;
  }

  /* Style the indicator (dot/circle) */
.checkmark:after {
   width: 8px;
   height: 8px;
   border-radius: 50%;
   background: white;
}

img {
	width: 100%;
}
.line-block {
	width: 100%;
	margin-bottom: 10px;
	padding: 10px;
    border: solid 2px rgb(57, 42, 42);
}

.line {
	width: 30%;
	display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    flex-direction: row;

}

.row {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
}
.section{
	display: flex;
	flex-wrap: nowrap;
    flex-direction: row;
    align-items: center
}

.column {
	display: flex;

}

.a {
	width: 20%;
    display: none;
    justify-content: space-around;
    margin: 5px;
    height: 100%;
    flex-direction: column;
    align-items: flex-start;
    border: solid 2px rgb(57, 42, 42);
    padding: 20px;

}

/* Button stuff */

.button {
    position: relative;
    background: transparent;
    border: none;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    overflow: hidden;
    cursor: pointer;
}

.button:after {
    content: "";
    background: transparent;
    display: block;
    position: absolute;
    border-radius: 50%;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -60px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}
  
.button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

/* button colors */

.blue {
    background-color: transparent; 
    border: 2px solid #378bbc;
}
  
.blue:hover, .blueActive {
	color:white;
    background-color: #378bbc;
}

.green {
    
    background-color: transparent; 
    border: 2px solid #52a438;
}
  
.green:hover, .greenActive{
	color:white;
    background-color: #52a438;
}
